{{!< default}}

<div class="container">
    <div class="row">
        <div class="col-12" style="padding: 20px; display: flex; justify-content: center; align-items: center">
            <img src="https://picsum.photos/200/300" width="80" height="87"/>
        </div>
    </div>

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-12 d-flex flex-column" style="border: 2px solid #000000; padding: 15px;">
            <h1 style="line-height: 10px; margin-bottom: 40px;">Welcome to the NottMyStyle Community!</h1>
            <p>Congratulations! You are one step closer to making the most out of your unused clothes. As a member of the nottmystyle community, you get the opportunity to:</p>
            <ul>
                <li>Earn money</li>
                <li>Free up closet space</li>
                <li>Get instant access to discounted apparel</li>
            </ul>
            <p>Start your journey today by creating your first listing.</p>

        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-center" style="width: 100%; background-color: lightgray; padding: 10px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
            
                <h2>Happy to Help!</h2>
            
        </div>
    </div>

    <div class="row">
        <div class="col-12" style="background-color: lightgray; display: flex; flex-direction: column;">
            <p>If you have any problems signing in or any other query, please email nottmystyle.help@gmail.com. We'll get back to you as soon as possible.</p>
        </div>
    </div>
</div>