<head>
    {{!-- Document settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base meta tags --}}
    <title>nottmystyleapp</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    {{!-- Styles --}}
    {{!-- <link href="{{asset "css/beautify.css"}}" rel="stylesheet" type="text/css" /> --}}
    {{!-- <link href="{{asset "css/ghost.css"}}" rel="stylesheet" type="text/css" /> --}}
    {{!-- <link href="{{asset "css/happy-brutalist.css"}}" rel="stylesheet" type="text/css" /> --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./main.css"/>
    <link rel="stylesheet" href="./welcome.css"/>

    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Roboto&display=swap" rel="stylesheet">



</head>